@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
}

.body {
    font-family: 'Gilroy', serif;
    font-style: normal;
    background-color: rgb(247, 245, 245);
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.header {
    max-width: 1258px;
    margin: 0 auto;
}

.header__body {
    max-width: 1049px;
    max-height: 49px;
    margin: 0 auto;
    padding-top: 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* NAVIGATION MENU */

.header__nav {
    max-width: 635px;
}

#toggle {
    display: none;
}

.nav-menu {
    display: flex;
    margin: 0 auto;
    flex-basis: auto;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.nav-menu a:hover {
    color: orange;
    transition: .2s;
}

.nav-menu a:active {
    color: gray;
    transition: .2s;
}


.nav-menu li {
    padding-right: 28px;
}

.nav-menu li:nth-child(2) {
    padding-right: 192px;
}

.nav-menu li:last-child {
    padding-right: 0px;
}

.nav-menu__item {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #242424;
    text-decoration: none;
    cursor: pointer;
}


  /*  */

/* HEADER SOCIAL ICONS */

.header-social {
    display: flex;
    flex-direction: row;
    max-width: 126px;
}


.header-social__item {
    height: 49px;
    align-items: center;
    padding-right: 28px;
}

.header-social__item:last-child {
    height: 49px;
    padding-right: 0px;
}


.inst-icon {
    height: 100%;
    width: 100%;
}

.social-icon {
    width: 49px;
    height: 49px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
}

.social-icon:hover {
    background: #FFD458;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(113, 113, 113, 0.2);
}

.social-icon:active {
    background: #FFBC00;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;    
}

/* SAVE SECTION */

.container {
    max-width: 1146px;
    margin: 0 auto;
}

/* CAT & DOG BACKGROUND */

.dog__bcg {
    position: absolute;
    max-width: 100%;
    padding-left: 465px;
    top: 0px;
    z-index: -2;
}

.cat__bcg {
    position: absolute;
    max-width: 100%;
    padding-left: 524px;
    top: 470px;
}

/* .container::before {
    content: "";
    position: absolute;
    background: url(../img/dog-bcg.png) top right no-repeat;
    width: 718px;
    height: 713px;
    padding-left: 460px;
    top: 0px;
    z-index: -2;
}

.container::after {
    content: "";
    position: absolute;
    background: url(../img/cat-bcg.png) top right no-repeat;
    width: 483px;
    height: 469px;
    top: 470px;
    left: 884px;
    right: 553px;
    z-index: -1;
} */

.container__body {
    position: relative;
    padding-left: 47px;
    padding-top: 76px;
}

/* MAIN TITLE TEXT START */

.save-title {
    margin: 0 auto;
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    color: #242424;
}

.save-title__description {
    margin: 0 auto;
    padding-top: 2px;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #6B6B6B;
}

.save-title__goal {
    margin: 0px 0px;
    max-width: 649px;
    padding-top: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #474747;
}

.save-title__help {
    margin: 0px 0px;
    max-width: 428px;
    padding-top: 43px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #C78100;
}

/* MAIN TITLE TEXT END */

/* HELP BUTTON START */

.hero__button {
    display: block;
    margin-top: 46px;
    width: 182px;
    height: 42px;
}

.button {
    position: relative;
    background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}

.button {
    display: block;
    background: #FBC832;
    border-radius: 58px;
    border-style: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.button::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    left: -5px;
    top: -5px;
    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    box-shadow: 7px 7px 16px #e3e3e3, -3px -4px 8px rgb(255 255 255 / 90%), inset 13px 22px 8px rgb(0 0 0 / 2%);
    border-radius: 58px;
    z-index: -1;
}

.button:hover {
    background: linear-gradient(180deg, #FFEEBC 0%, #FFE69F 36.46%, #FFCF48 68.23%, #FFC317 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}

.button:active {
    background: linear-gradient(180deg, #FFE69F 0.01%, #E3B940 0.02%, #FFD24E 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}

/* HELP BUTTON END */

/* HEART SECTION START */

.heart {
    margin-top: 272px;
    background-color: white;
}

.heart-description {
    max-width: 466px;
    padding-top: 35px;
    padding-left: 947px;
    padding-bottom: 137px;
}

.heart-title {
    margin: 0 auto;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    align-items: center;
    text-align: center;
    color: #C78100;

}

.heart-text__upper {
    padding-top: 28px;
    margin: 0 auto;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
}

.heart-text__bottom {
    margin: 0 auto;
    padding-top: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
}

/* GEOMETRY BLOCK */

.heart-block {
    padding-top: 54px;
    padding-bottom: 55px;
}

.square {
    position: absolute;
    max-width: 592px;
    max-height: 521px;
    left: 0px;
    background: #FFC41E;
    margin-top: 54px;
}

.circle-big {
    width: 521px;
	height: 521px;
	background: #FFC41E;
	border-radius: 50%;
    margin-left: 332px;
}

.circle-big::after {
    content: "";
    position: absolute;
    background: url(../img/circle-dog.png) no-repeat;
    width: 100%;
    height: 100%;
    left: 360px;
    top: 28px;
    z-index: 1;
}

.circle-small {
    position: absolute;
    width: 245px;
	height: 245px;
	background: #FFC41E;
	border-radius: 50%;
    margin-left: 637px;
    margin-top: 350px;
    z-index: 2;
}

.circle-small::after {
    content: "";
    position: absolute;
    background: url(../img/circle-cat.png) no-repeat;
    width: 228px;
    height: 228px;
    left: 9px;
    top: 8px;
    z-index: 1;
}

/* HEART SECTION END */

/* HOW TO HELP SECTION START */

.help-container {
    padding-top: 80px;
    max-width: 1146px;
    margin: 0 auto;
}

.help-title {
    margin: 0 auto;
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    align-items: center;
    text-align: center;
}

.help-block {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 79px;
    padding-top: 47px;
}

.help-block__item {
    max-width: 166px;
    max-height: 240px;
}

.block-link {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background: rgba(188, 143, 143, 0);
    border: 2px solid #FFC41E;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.help-block__img {
    margin: 0 auto;
    padding-left: 35px;
    padding-top: 35px;
}

.block-link:hover {
    border: 2px solid #FFC41E;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px #CCCCCC;
}

.block-link:active {
    border: 2px solid #FFC41E;
    box-sizing: border-box;
    background: #F8ECCB;
}

.help-block__text {
    margin: 0 auto;
    max-width: 166px;
    padding-top: 24px;
    text-align: center;
}

/* HOW TO HELP SECTION END */

/* GIVE HOME SECTION START */

.home__separator {
    background: url(../img/icon/help-svg__home.svg) no-repeat;
    height: 140px;
    margin: 0 auto;
    margin-top: 80px;
}

.block__separator {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: contain;
}

.block__separator::before {
    content: "";
    position: absolute;
    width: 43%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: #EEBF3A;
}

.block__separator::after {
    content: "";
    position: absolute;
    width: 43%;
    height: 1px;
    top: 50%;
    right: 0;
    background-color: #EEBF3A;
}

.home-block {
    margin: 0 auto;
    padding-top: 72px;
    padding-left: 100px;
    max-width: 875px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 97px;
}

.item-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
}

.item-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
}

.home-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 21px;
    grid-row-gap: 44px;
    max-width: 1145px;
    padding-top: 32px;
}

.home-container__title {
    margin: 0 auto;
    padding-top: 72px;
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    align-items: center;
    text-align: center;
}

.container-card {
    max-width: 368px;
    max-height: 695px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 5px;
}

.container-card__pic {
    width: 335px;
    height: 356px;
    padding: 16px 16px 8px 17px;
}

.container-card__title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    color: #242424;
    width: 335px;
    height: 20px;
    padding-left: 17px;
    padding-right: 16px;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
}

.container-card__line {
    width: 335px;
    height: 1px;
    background: #c9c7c7;
    margin-left: 17px;
    margin-right: 16px;
    margin-bottom: 8px;
}

.container-card__age {
    width: 335px;
    height: 20px;
    margin-left: 17px;
    margin-right: 16px;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6B6B6B;
}

.container-card__description {
    width: 335px;
    height: 95px;
    margin-left: 17px;
    margin-right: 16px;
    margin-bottom: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #242424;
}

.container-card__links {
    max-width: 296px;
    max-height: 101px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 20px;
}

.container-link__main {
    display: block;
    margin-top: 24px;
    margin-left: 35px;
    width: 220px;
    height: 42px;
}

.container-link__main {
    position: relative;
    background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}

.container-link__main {
    display: block;
    background: #FBC832;
    border-radius: 58px;
    border-style: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.container-link__main::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    left: -5px;
    top: -5px;
    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    box-shadow: 7px 7px 16px #e3e3e3, -3px -4px 8px rgb(255 255 255 / 90%), inset 13px 22px 8px rgb(0 0 0 / 2%);
    border-radius: 58px;
    z-index: -1;
}

.container-link__main:hover {
    background: linear-gradient(180deg, #FFEEBC 0%, #FFE69F 36.46%, #FFCF48 68.23%, #FFC317 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}

.container-link__main:active {
    background: linear-gradient(180deg, #FFE69F 0.01%, #E3B940 0.02%, #FFD24E 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}

.container-link__second {
    margin-top: 10px;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
    border-radius: 50px;
    background: #e5e5e500;
    border: 2px solid #FFC41E;
    transition: 0.2s;
    font-size: 20px;
    width: 296px;
    height: 42px;
    cursor: pointer;
}

.container-link__second:hover {
    background: #FFFFFF;
    border: 3px solid #FFBC00;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px #CCCCCC;
}

.container-link__second:active {
    background: rgba(255, 196, 30, 0.2);
    border: 3px solid #FFBC00;
    box-sizing: border-box;
}

.help-social {
    max-width: 751px;
    height: 155px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 74px;
}

.help-block__link {
    width: 244px;
    padding-left: 300px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    align-items: center;
    transition: .2s;
    text-decoration-line: underline;
    color: #AD7F00;
}

.help-block__link:hover {
    color: #523C00;
}

.help-block__link:active {
    color: #F6B400;
}

.help-social__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 65px;
}

.help-social__text {
    margin: 0 auto;
    max-width: 583px;
    max-height: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.help-social__items {
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.help-social__link {
    width: 49px;
    height: 49px;
    border: 2px solid #FFC41E;
    border-radius: 50%;
    box-sizing: border-box;
}

.help-social__link:hover {
    background: #FFFFFF;
    border: 2px solid #FFC41E;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px #CCCCCC;
}

.help-social__link:active {
    background: #F8ECCB;
    border: 2px solid #FFC41E;
    box-sizing: border-box;
}

.help-social__vk {
    padding: 14px 10px 13px 7px;
}

.help-social__inst {
    padding: 9px 9px;
}

/* GIVE HOME SECTION END */

/* FINANCE SECTION START */

.finance-wrapper {
    margin: 0 auto;
    background-color: #FFFFFF;
    padding-top: 30px;
}

.finance__separator {
    background: url(../img/icon/finance-main-svg.svg) no-repeat;
    height: 126px;
    margin: 0 auto;
}

.finance-block__separator {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: contain;
}

.finance__separator::before {
    content: "";
    position: absolute;
    width: 43%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: #EEBF3A;
}

.finance__separator::after {
    content: "";
    position: absolute;
    width: 43%;
    height: 1px;
    top: 50%;
    right: 0;
    background-color: #EEBF3A;
}

.finance-body {
    max-width: 875px;
    max-height: 429px;
    padding-top: 40px;
    margin: 0 auto;
    padding-bottom: 56px;
}

.finance-body__title {
    max-width: 758px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
}

.finance-body__description {
    max-width: 758px;
    padding-top: 24px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #6B6B6B;
}

.finance-block {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content: space-between;
}

.finance-pay {
    max-width: 389px;
    max-height: 278px;
}

.finance-pay__title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
}

.finance-pay__text {
    margin: 0 auto;
    width: 350px;
    max-height: 164px;
    padding-top: 24px;
    line-height: 28px;
}

.finance-pay__link {
    display: block;
    margin-top: 24px;
    width: 182px;
    height: 42px;
}

.pay-button {
    position: relative;
    background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}

.pay-button {
    display: block;
    background: #FBC832;
    border-radius: 58px;
    border-style: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.pay-button::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    left: -5px;
    top: -5px;
    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    box-shadow: 7px 7px 16px #e3e3e3, -3px -4px 8px rgb(255 255 255 / 90%), inset 13px 22px 8px rgb(0 0 0 / 2%);
    border-radius: 58px;
    z-index: -1;
}

.pay-button:hover {
    background: linear-gradient(180deg, #FFEEBC 0%, #FFE69F 36.46%, #FFCF48 68.23%, #FFC317 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}

.pay-button:active {
    background: linear-gradient(180deg, #FFE69F 0.01%, #E3B940 0.02%, #FFD24E 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}

.finance-box {
    max-width: 389px;
    max-height: 278px;
}

.finance-box__title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
}

.finance-box__text {
    margin: 0 auto;
    padding-top: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}

/* FINANCE SECTION END */

/* FOOD SECTION START */

.food-wrapper {
    margin: 0 auto;
    padding-top: 36px;
}

.food__separator {
    background: url(../img/icon/food-main-svg.svg) no-repeat;
    height: 126px;
    margin: 0 auto;
}

.food-block__separator {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: contain;
}

.food__separator::before {
    content: "";
    position: absolute;
    width: 43%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: #EEBF3A;
}

.food__separator::after {
    content: "";
    position: absolute;
    width: 43%;
    height: 1px;
    top: 50%;
    right: 0;
    background-color: #EEBF3A;
}

.food-content {
    max-width: 678px;
    max-height: 690px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content-feed {
    max-width: 660px;
}

.content-feed__title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
}

.content-feed__text {
    margin: 0 auto;
    padding-top: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.content-feed__transparent {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: gray;
}

.content-medicine {
    max-width: 660px;
    padding-top: 40px;
}

.content-medicine__title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
}

.content-medicine__text {
    margin: 0 auto;
    padding-top: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.content-staff {
    padding-top: 40px;
    max-width: 660px;
}

.content-staff__title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
}

.content-staff__text {
    margin: 0 auto;
    padding-top: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.food-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    align-items: center;
    text-decoration-line: underline;
    transition: .2s;
    color: #AD7F00;
}

.food-link:hover {
    color: #523C00;
}

.food-link:active {
    color: #F6B400;
}

/* FOOD SECTION END */

/* CAR ASSIST SECTION START */

.car-wrapper {
    margin: 0 auto;
    padding-top: 72px;
}

.car__separator {
    background: url(../img/icon/car-main-svg.svg) no-repeat;
    height: 126px;
    margin: 0 auto;
}

.car-block__separator {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: contain;
}

.car__separator::before {
    content: "";
    position: absolute;
    width: 43%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: #EEBF3A;
}

.car__separator::after {
    content: "";
    position: absolute;
    width: 43%;
    height: 1px;
    top: 50%;
    right: 0;
    background-color: #EEBF3A;
}

.car-block {
    margin: 0 auto;
    max-width: 688px;
    max-height: 180px;
    padding-top: 40px;
}

.car-block__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
}

.car-block__text {
    padding-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
}

.car__link {
    display: block;
    margin-top: 24px;
    width: 223px;
    height: 42px;
}

.car-button {
    position: relative;
    background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}

.car-button {
    display: block;
    background: #FBC832;
    border-radius: 58px;
    border-style: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.car-button::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    left: -5px;
    top: -5px;
    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    box-shadow: 7px 7px 16px #e3e3e3, -3px -4px 8px rgb(255 255 255 / 90%), inset 13px 22px 8px rgb(0 0 0 / 2%);
    border-radius: 58px;
    z-index: -1;
}

.car-button:hover {
    background: linear-gradient(180deg, #FFEEBC 0%, #FFE69F 36.46%, #FFCF48 68.23%, #FFC317 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}

.car-button:active {
    background: linear-gradient(180deg, #FFE69F 0.01%, #E3B940 0.02%, #FFD24E 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}

/* CAR ASSIST SECTION END */

/* VOLONTEER SECTION START */


.volonteer-wrapper {
    margin: 0 auto;
    padding-top: 150px;
}

.volonteer__separator {
    background: url(../img/icon/hand-main-svg.svg) no-repeat;
    height: 126px;
    margin: 0 auto;
}

.volonteer-block__separator {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: contain;
}

.volonteer__separator::before {
    content: "";
    position: absolute;
    width: 43%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: #EEBF3A;
}

.volonteer__separator::after {
    content: "";
    position: absolute;
    width: 43%;
    height: 1px;
    top: 50%;
    right: 0;
    background-color: #EEBF3A;
}

.volonteer-block {
    padding-bottom: 55px;
}

.square {
    position: absolute;
    max-width: 592px;
    max-height: 521px;
    left: 0px;
    background: #FFC41E;
}

.circle-big {
    width: 521px;
	height: 521px;
	background: #FFC41E;
	border-radius: 50%;
    margin-left: 332px;
}

.circle-big::after {
    content: "";
    position: absolute;
    background: url(../img/little-dog.png) no-repeat;
    width: 100%;
    height: 100%;
    left: 360px;
    top: 28px;
    z-index: 1;
}

.volonteer-description {
    max-width: 466px;
    padding-top: 103px;
    padding-left: 947px;
    padding-bottom: 137px;
}

.volonteer-title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    align-items: center;
    color: #242424;
}

.volonteer-text {
    max-width: 466px;
    padding-top: 24px;
    margin: 0 auto;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
}

.volonteer__link {
    display: block;
    margin-top: 24px;
    width: 223px;
    height: 42px;
}

.volonteer-button {
    position: relative;
    background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}

.volonteer-button {
    display: block;
    background: #FBC832;
    border-radius: 58px;
    border-style: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.volonteer-button::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    left: -5px;
    top: -5px;
    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    box-shadow: 7px 7px 16px #e3e3e3, -3px -4px 8px rgb(255 255 255 / 90%), inset 13px 22px 8px rgb(0 0 0 / 2%);
    border-radius: 58px;
    z-index: -1;
}

.volonteer-button:hover {
    background: linear-gradient(180deg, #FFEEBC 0%, #FFE69F 36.46%, #FFCF48 68.23%, #FFC317 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}

.volonteer-button:active {
    background: linear-gradient(180deg, #FFE69F 0.01%, #E3B940 0.02%, #FFD24E 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}

/* VOLONTEER SECTION END */

/* NEWS SECTION START */

.news {
    padding-top: 50px;
}

.news-wrapper {
    margin: 0 auto;
    background: #FFFFFF;
    padding-bottom: 50px;
}

.news-block {
    max-width: 778px;
    margin: 0 auto;
    padding-top: 54px;
    display: flex;
    flex-direction: column;
}

.news-block__title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
}

.news-block__item {
    padding: 40px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news-item__pic {
    margin: 0 auto;
}

.news-item__text {
    max-width: 603px;
    padding-left: 35px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    align-items: center;
    text-align: left;
}

.news-block__link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    align-items: center;
    text-decoration-line: underline;
    transition: .2s;
    color: #AD7F00;
}

.news-block__link:hover {
    color: #523C00;
}

.news-block__link:active {
    color: #F6B400;
}

/* NEWS SECTION END */


/* ABOUT SECTION START */

.about-wrapper {
    margin: 0 auto;
}

.about-block {
    margin: 0 auto;
    max-width: 680px;
    padding-top: 56px;
}

.about-title {
    margin: 0 auto;
    max-width: 175px;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
}

.about-description {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #242424;
}

.about-contacts__title {
    margin: 0 auto;
    padding-top: 24px;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #242424;
}

.about-contacts__text {
    margin: 0 auto;
    padding-top: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
}

.about-social__text {
    margin: 0 auto;
    padding-top: 40px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #6B6B6B;
}

.about-social__items {
    width: 130px;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}

.about-social__link {
    width: 49px;
    height: 49px;
    border: 2px solid #FFC41E;
    border-radius: 50%;
    box-sizing: border-box;
}

.about-social__link:hover {
    background: #FFFFFF;
    border: 2px solid #FFC41E;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px #CCCCCC;
}

.about-social__link:active {
    background: #F8ECCB;
    border: 2px solid #FFC41E;
    box-sizing: border-box;
}

.about-social__vk {
    padding: 14px 10px 13px 7px;
}

.about-social__inst {
    padding: 9px 9px;
}

/* ABOUT SECTION END */

/* IMAGE */
.image {
    padding-top: 54px;
    max-width: 100%;
}

.image-wrapper {
    margin: 0 auto;
    background: url(../img/footer-dog.jpg) no-repeat;
    max-width: 100%;
    height: 741px;
}

.image-block {
    max-width: 435px;
    padding-top: 303px;
    padding-left: 134px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.image-block__text {
    margin: 0 auto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
}

/* FOOTER SECTION START */

.footer-wrapper {
    margin: 0 auto;
    background: #FFFFFF;
}

.footer-block {
    max-width: 1146px;
    margin: 0 auto;
    padding-top: 40px;
}

.footer-links {
    display: flex;
    margin: 0 auto;
    flex-basis: auto;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.footer-links a:hover {
    color: orange;
    transition: .2s;
}

.footer-links a:active {
    color: gray;
    transition: .2s;
}


.footer-links li {
    padding-right: 40px;
}

.footer-links li:nth-child(5) {
    padding-right: 122px;
}

.footer-links li:last-child {
    padding-right: 0px;
}

.footer-link__item {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #474747;
    text-align: center;
    text-decoration-line: underline;
    cursor: pointer;
}

.footer-autor {
    max-width: 184px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 16px;
}

.footer-autor__text {
    margin: 0 auto;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    align-items: center;
    color: #B3B3B3;
}

/* FOOTER SECTION END */